# R code exercises

## Naming a vector

In [5]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

In [6]:
# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

In [7]:
# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [9]:
# Assign days as names of roulette_vectors
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [10]:
names(roulette_vector)

[1] "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"

## Naming a vector (2)

In [11]:
# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [12]:
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [13]:
names(poker_vector)

[1] "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"

## Calculating total winnings

In [14]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

In [15]:
# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector

In [16]:
# Print out total_vector
total_vector

[1] 5 7 9

## Calculating total winnings (2)

In [17]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [18]:
# Assign to total_daily how much you won/lost on each day
total_daily <- roulette_vector + poker_vector

In [19]:
total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

## Calculating total winnings (3)

In [20]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [21]:
# Total winnings with poker
total_poker <- sum(poker_vector)

In [22]:
# Total winnings with roulette
total_roulette <- sum(roulette_vector)

In [23]:
# Total winnings overall
total_week <- total_poker + total_roulette

In [24]:
total_week

[1] -84

## Comparing total winnings

In [25]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [26]:
# Calculate total gains for poker and roulette
total_poker <- sum(poker_vector)
total_roulette <- sum(roulette_vector)

In [27]:
# Check if you realized higher total gains in poker than in roulette 
total_poker > total_roulette

[1] TRUE

## Vector selection: the good times

In [28]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [29]:
# Define a new variable based on a selection
poker_wednesday <- poker_vector[3]

In [30]:
poker_wednesday

Wednesday
       20

## Vector selection: the good times (2)

In [31]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [32]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]

In [33]:
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

## Vector selection: the good times (3)

In [34]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [35]:
# Define a new variable based on a selection
roulette_selection_vector <- roulette_vector[2:5]

In [36]:
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

## Vector selection: the good times (4)

In [37]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [38]:
# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday", "Tuesday", "Wednesday")]

In [39]:
# Calculate the average of the elements in poker_start
mean(poker_start)

[1] 36.66667

## Selection by comparison - Step 1

In [40]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [41]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0

In [42]:
# Print out selection_vector
selection_vector

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

## Selection by comparison - Step 2

In [43]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [44]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0

In [45]:
# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]

In [46]:
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

## Advanced selection

In [47]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [48]:
# Which days did you make money on roulette?
selection_vector <- roulette_vector > 0

In [49]:
# Select from roulette_vector these days
roulette_winning_days <- roulette_vector[selection_vector]

In [50]:
roulette_winning_days

Wednesday    Friday
      100        10

# What's a matrix?

In [51]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow = TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [52]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [53]:
# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

In [54]:
# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow = TRUE, nrow = 3)

In [55]:
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

## Naming a matrix

In [56]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [57]:
# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

In [58]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

In [59]:
# Name the columns with region
colnames(star_wars_matrix) <- region

In [60]:
# Name the rows with titles
rownames(star_wars_matrix) <- titles

In [61]:
# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

## Calculating the worldwide box office

In [62]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [63]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

## Adding a column for the Worldwide box office

In [64]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [65]:
# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

In [66]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)

all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

## Adding a row

In [68]:
# Construct star_wars_matrix2
box_office2 <- c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5)
star_wars_matrix2 <- matrix(box_office2, nrow = 3, byrow = TRUE,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [69]:
# star_wars_matrix and star_wars_matrix2 are available in your workspace
star_wars_matrix  
star_wars_matrix2

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [70]:
# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix, star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5