# R code exercises

## Naming a vector

In [5]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

In [6]:
# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

In [7]:
# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [9]:
# Assign days as names of roulette_vectors
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [10]:
names(roulette_vector)

[1] "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"

## Naming a vector (2)

In [11]:
# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [12]:
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [13]:
names(poker_vector)

[1] "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"

## Calculating total winnings

In [14]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

In [15]:
# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector

In [16]:
# Print out total_vector
total_vector

[1] 5 7 9

## Calculating total winnings (2)

In [17]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [18]:
# Assign to total_daily how much you won/lost on each day
total_daily <- roulette_vector + poker_vector

In [19]:
total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

## Calculating total winnings (3)

In [20]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [21]:
# Total winnings with poker
total_poker <- sum(poker_vector)

In [22]:
# Total winnings with roulette
total_roulette <- sum(roulette_vector)

In [23]:
# Total winnings overall
total_week <- total_poker + total_roulette

In [24]:
total_week

[1] -84

## Comparing total winnings

In [25]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [26]:
# Calculate total gains for poker and roulette
total_poker <- sum(poker_vector)
total_roulette <- sum(roulette_vector)

In [27]:
# Check if you realized higher total gains in poker than in roulette 
total_poker > total_roulette

[1] TRUE

## Vector selection: the good times

In [28]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [29]:
# Define a new variable based on a selection
poker_wednesday <- poker_vector[3]

In [30]:
poker_wednesday

Wednesday
       20

## Vector selection: the good times (2)

In [31]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [32]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]

In [33]:
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

## Vector selection: the good times (3)

In [34]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [35]:
# Define a new variable based on a selection
roulette_selection_vector <- roulette_vector[2:5]

In [36]:
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

## Vector selection: the good times (4)

In [37]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [38]:
# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday", "Tuesday", "Wednesday")]

In [39]:
# Calculate the average of the elements in poker_start
mean(poker_start)

[1] 36.66667

## Selection by comparison - Step 1

In [40]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [41]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0

In [42]:
# Print out selection_vector
selection_vector

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

## Selection by comparison - Step 2

In [43]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [44]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0

In [45]:
# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]

In [46]:
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

## Advanced selection

In [47]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [48]:
# Which days did you make money on roulette?
selection_vector <- roulette_vector > 0

In [49]:
# Select from roulette_vector these days
roulette_winning_days <- roulette_vector[selection_vector]

In [50]:
roulette_winning_days

Wednesday    Friday
      100        10

# What's a matrix?

In [51]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow = TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [52]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [53]:
# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

In [54]:
# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow = TRUE, nrow = 3)

In [55]:
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

## Naming a matrix

In [56]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [57]:
# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

In [58]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

In [59]:
# Name the columns with region
colnames(star_wars_matrix) <- region

In [60]:
# Name the rows with titles
rownames(star_wars_matrix) <- titles

In [61]:
# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

## Calculating the worldwide box office

In [9]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [10]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

## Adding a column for the Worldwide box office

In [11]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [12]:
# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

In [13]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)

all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

## Adding a row

In [14]:
# Construct star_wars_matrix2
box_office2 <- c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5)
star_wars_matrix2 <- matrix(box_office2, nrow = 3, byrow = TRUE,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [15]:
# star_wars_matrix and star_wars_matrix2 are available in your workspace
star_wars_matrix  
star_wars_matrix2

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [16]:
# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix, star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

## The total box office revenue for the entire saga

In [17]:
# all_wars_matrix is available in your workspace
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [18]:
# Total revenue for US and non-US
total_revenue_vector <- colSums(all_wars_matrix)

In [19]:
# Print out total_revenue_vector
total_revenue_vector

      US   non-US
2226.279 2087.800

## Selection of matrix elements

In [20]:
# all_wars_matrix is available in your workspace
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [25]:
# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]

In [26]:
non_us_all

             A New Hope The Empire Strikes Back      Return of the Jedi
                  314.4                   247.9                   165.8
     The Phantom Menace    Attack of the Clones     Revenge of the Sith
                  552.5                   338.7                   468.5

In [27]:
# Average non-US revenue
mean(non_us_all)

[1] 347.9667

In [28]:
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]
non_us_some

             A New Hope The Empire Strikes Back
                  314.4                   247.9

In [29]:
# Average non-US revenue for first two movies
mean(non_us_some)

[1] 281.15

## A little arithmetic with matrices

In [30]:
# all_wars_matrix is available in your workspace
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [31]:
# Estimate the visitors
visitors <- all_wars_matrix / 5

In [32]:
# Print the estimate to the console
visitors

                        US      non-US
A New Hope              92.1996  62.88
The Empire Strikes Back 58.0950  49.58
Return of the Jedi      61.8612  33.16
The Phantom Menace      94.9000 110.50
Attack of the Clones    62.1400  67.74
Revenge of the Sith     76.0600  93.70

## A little arithmetic with matrices (2)

In [40]:
ticket_prices1 <- c(5.0, 6.0, 7.0, 4.0, 4.5, 4.9)
ticket_prices2 <- c(5.0, 6.0, 7.0, 4.0, 4.5, 4.9)
ticket_prices <- rbind(ticket_prices1, ticket_prices2)

ticket_prices_matrix <- matrix(ticket_prices, nrow = 6, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi", "The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [41]:
# all_wars_matrix and ticket_prices_matrix are available in your workspace
all_wars_matrix
ticket_prices_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

                        US  non-US
A New Hope              5.0 5.0
The Empire Strikes Back 6.0 6.0
Return of the Jedi      7.0 7.0
The Phantom Menace      4.0 4.0
Attack of the Clones    4.5 4.5
Revenge of the Sith     4.9 4.9

In [42]:
# Estimated number of visitors
visitors <- all_wars_matrix / ticket_prices_matrix

In [43]:
# US visitors
us_visitors <- visitors[1:6,1]

In [45]:
us_visitors

             A New Hope The Empire Strikes Back      Return of the Jedi
               92.19960                48.41250                44.18657
     The Phantom Menace    Attack of the Clones     Revenge of the Sith
              118.62500                69.04444                77.61224

In [44]:
# Average number of US visitors
mean(us_visitors)

[1] 75.01339

# Factors

## What's a factor and why would you use it?

In [46]:
# Assign to the variable theory what this chapter is about!
theory <- "factors for categorical variables"

## What's a factor and why would you use it? (2)

In [47]:
# Gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")

In [48]:
# Convert gender_vector to a factor
factor_gender_vector <- factor(gender_vector)

In [49]:
# Print out factor_gender_vector
factor_gender_vector

[1] Male   Female Female Male   Male
Levels: Female Male

If you want to find out more about the factor() function, do not hesitate to type ?factor in the console.

In [ ]:
?factor()

## What's a factor and why would you use it? (3)

In [3]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse

In [2]:
# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

## Factor levels

In [4]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

In [5]:
# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female", "Male")

In [6]:
factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

In [7]:
levels(factor_survey_vector)

[1] "Female" "Male"

## Summarizing a factor

In [8]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

In [9]:
# Generate summary for survey_vector
summary(survey_vector)

   Length     Class      Mode
        5 character character

In [10]:
# Generate summary for factor_survey_vector
summary(factor_survey_vector)

Female   Male
     2      3

## Battle of the sexes

In [11]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")

In [12]:
# Male
male <- factor_survey_vector[1]

In [13]:
# Female
female <- factor_survey_vector[2]

In [14]:
# Battle of the sexes: Male 'larger' than female?
male > female

Warning message in Ops.factor(male, female):
> not meaningful for factors

[1] NA

Since "Male" and "Female" are unordered (or nominal) factor levels, R returns a warning message, telling you that the greater than operator is not meaningful. As seen before, R attaches an equal value to the levels for such factors.

## Ordered factors

In [15]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")

## Ordered factors (2)

In [16]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")

In [17]:
# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels =  c("slow", "fast", "insane"))

In [18]:
# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

[1] fast   slow   slow   fast   insane
Levels: slow < fast < insane

  slow   fast insane
     2      2      1

## Comparing ordered factors

In [19]:
# Create factor_speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels = c("slow", "fast", "insane"))

In [20]:
# Factor value for second data analyst
da2 <- factor_speed_vector[2]

In [21]:
# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

In [22]:
# Is data analyst 2 faster than data analyst 5?
da2 > da5

[1] FALSE

# What's a data frame?

In [23]:
# Print out built-in R data frame
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

## Quick, have a look at your data set

In [24]:
# Call head() on mtcars
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# Have a look at the structure

In [25]:
# Investigate the structure of mtcars
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

## Creating a data frame

In [26]:
# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

In [27]:
# Create a data frame from the vectors
planets_df <- data.frame(name, type, diameter, rotation, rings)
planets_df

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

## Creating a data frame (2)